# Reading data from multiple excel files

In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
all_data = pd.DataFrame()
for f in glob.glob("weekly_call_data/weekdata_*.xlsx"):
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)
    all_data.describe()

In [3]:
all_data.head()

,Unnamed: 0,CallingNumber,DayOfWeek,TimeOfDay,CallDuration,ReasonForCall,AnsweringAgent
0,0,774-823-8593,thu,10:30,20,Product Inquiry,Cameron
1,1,432-403-9821,fri,11:24,10,Complaint,Cameron
2,2,274-683-6814,tue,15:43,17,Technical Support,Kennedy
3,3,681-402-6913,tue,13:44,2,Technical Support,Lisa
4,4,242-336-6459,wed,10:50,19,Technical Support,Kennedy

In [5]:
all_data.describe()

          Unnamed: 0   CallDuration
count  129588.000000  129588.000000
mean      688.521476      12.517147
std       457.631443       6.925404
min         0.000000       1.000000
25%       311.000000       7.000000
50%       623.000000      13.000000
75%      1009.000000      19.000000
max      1944.000000      24.000000