# 1. Reading a csv file to dataframe

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("all_040_in_11.H13.csv")

In [3]:
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,...,H013004,H013004.2000,H013005,H013005.2000,H013006,H013006.2000,H013007,H013007.2000,H013008,H013008.2000
0,11,40,11,NaN,NaN,NaN,NaN,NaN,District of Columbia,601723,...,32679,31709,20274,20089,9913,10457,4572,4807,3993,4198